@use '../../styles/colors.scss';

.activity-filters{
    margin: auto;
    margin-top: 3%;
    max-width: 50%;
    width: 100%;
}

@media (max-width: 960px) {
    .activity-filters{
        margin: auto;
        margin-top: 3%;
        max-width: 80%;
        width: 100%;
    }
}

.input{
    background-color: colors.$background_paper;
    border-radius: 2rem;
}