@use '../../styles/colors.scss';

.activity-list-item{
    background-color: colors.$background_paper;
    border-radius: 1rem;
}

.avatar{
        display: grid;
        justify-content: center;
        align-content: center;
}