
.profile-user{
    position: static;
}

.name{
    text-align: center;
}

.info{
    text-align: center;
    width: 20%;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.image{
    margin-top: -300px !important;
}