@use "../../styles/colors.scss";

.wrapper_upper{
    background-color: rgba(colors.$primary_main, 10%);
    border-radius: 2rem 2rem 0 0;
    max-width: 400px;
    width: 100%;
}

.number_upper{
    min-width: 70px;
    background-color: rgba(colors.$primary_main, 20%);
    border-radius: 2rem 0 0 0;
}

.wrapper_down{
    background-color: rgba(colors.$primary_main, 10%);
    border-radius: 0 0 2rem 2rem;
    max-width: 400px;
    width: 100%;
}

.number_down{
    min-width: 70px;
    background-color: rgba(colors.$primary_main, 20%);
    border-radius: 0 0 0 2rem;
}

.wrapper{
    background-color: #2F1D81;
    max-width: 400px;
    width: 100%;
    min-width: 200px;
}

.number{
    min-width: 70px;
    background-color: rgba(colors.$primary_main, 20%);
}

.content{
    padding: 6%;
    max-width: 300px;
    color: colors.$text_primary;
    overflow: hidden;
    white-space: nowrap; /* Don't forget this one */
    text-overflow: ellipsis;
}

.id{
    font-size: 45px;
    margin: 0;
    text-align: center;
}

.content:hover{
    cursor: pointer;
}
