@use "../../styles/colors";

.container {
  margin-top: 1rem;
}

.title {
  margin-left: 0.7rem !important;
}

.select {
    margin-top: 1rem;
}

.collectorColumns {
    display: grid;
    width: auto;
  }

  @media (max-width : 1200px) {
    .title {
      text-align: center;
    }
  }