@use "../../styles/colors.scss";

.product-info-title {
    font-weight: normal;
    max-width: 90%;
}

@media (max-width: 1200px) {
    .product-info-title {
        font-weight: normal;
        min-width: 100%;
        text-align: center;
    }
  }

.title {
    font-weight: normal;
    border-bottom: solid colors.$background_paper;
    border-bottom-width: 8px;
}