@use "../../styles/colors.scss";

.product-info-status{
    position: static;
}

.status {
    border-radius: .375rem !important;
    color: black !important;
    font-weight: bold;
    background-color: colors.$secondary_main !important;
}