
.image{
    border-radius: 15px;
    width: 30rem;
    height: 30rem;
    margin: auto;
}

@media (max-width: 600px) {
    .image{
        border-radius: 15px;
        max-width: 300px;
        max-height: 300px;
        margin: auto;
    }
}

.product-image{
    text-align: center;
    margin-top: 10%;
}