.wrapper{
    grid-template-columns: repeat(6, 1fr) !important;
    width: 95rem;
}

.first_image{
    grid-column-end: span 3 !important; 
    grid-row-end: span 2 !important;
}

.image{
    border-radius: 15px;
}