@use '../../styles/colors.scss';

.description{
    position: relative;
    background-color: colors.$background_paper;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 3%;
}

.text{
    text-align: left;
    padding: 4%;
    // display: block;
    // margin-left: auto;
    // margin-right: auto;
    // width: 50%;
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}