@use "../../styles/colors";

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.logoContainer{
  display: flex;
}


.inputBase {
  background-color: colors.$background_default;
  border: 2px solid colors.$background_default;
  margin-right: 13rem;
  border-radius: 25px;
  font-size: 1px;
  width: 100%;
  height: 48px;
}

.nav {
  background-color: colors.$background_paper;
}

.wrapper {
  margin: 0 auto;
}

.homeBtn:hover{
  cursor: pointer;
}

.activityBtn:hover{
  cursor: pointer;
}

.exploreBtn:hover{
  cursor: pointer;
}