@use "../../styles/colors.scss";

.container {
    position: relative;
    width: 100%;
    bottom: 0px;
    background-color: colors.$background_paper;
}

.logo{
    display: grid;
}

.copyright{
    position: relative;
    text-align: center;
    top: 30%;
    color: #484866;
}

.policy{
    background-color: #484866;
    color: #484866 !important;
    position: relative;
    top: 30%;
}
