@use '../../styles/colors.scss';

.login-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    max-width: 400px;
    width: 100%;
    max-height: auto;
    // height: 100%;
    background-color: colors.$background_paper;
    border-radius: 1rem;
    padding: 2rem;
    justify-items: center; 
}

.register{
    text-align: center;
    padding-top: 1rem;
}