@use "../../styles/colors.scss";

.backgroundDiv{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 200px;
    margin-bottom: 200px;
    background-color: colors.$primary_main;
}

.infoDiv{
    position: relative;
    top: 20%;
    padding-left: 10%;
    text-align: left;
}

@media (max-width: 1200px) {
    .infoDiv {
        position: relative;
        top: 20%;
        padding-left: 10%;
        text-align: center;
    }
  }

.infoDiv h1 {
    font-size: 50px;
}

.link{
    margin-top: 5% !important;
    margin-bottom: 40vh !important;
    background-color: white !important;
    color: colors.$primary_main !important;
}