@use "../../styles/colors.scss";

.container{
    position: relative;
    border-radius: 2rem;
    padding: 5%;
    margin-right: 0;
    width: 5%;
    // background-color: colors.$primary_main;
}

.number{
    // background-color: #292560;
    background-color: colors.$primary_main;
    text-align: center;
    line-height: 40px;
    font-size: 70px;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.content{
    color: white;
    text-align: center;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    background-color: colors.$background_default
}

.content p{
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
}